:root {
    /* main colors */
    --primary-color: #E74645;
    --secondary-color: #FB7756;
    --secondary-light-color: #FDEBE3;  

    /* text color */
    --primary-text-color: var(--primary-color);
    --secondary-text-color: var(--secondary-color);
    --contrast-text-color: #fff;

    /* background color*/
    --background-color: #fff;
    --primary-background-color: var(--primary-color);
    --secondary-background-color: var(--secondary-color);
    --secondary-light-background-color: var(--secondary-light-color);

    /* border color */
    --secondary-border-color: var(--secondary-color);

    /* sizes */
    --max-container-width: 1366px;
    --header-height: 48px;

    --font-size: 16px;
}